.rate_grade{
background: #27AE60;
border-radius: 12px;
width: 90px;
height: 35px;
text-align: center;
line-height: 35px;
align-items: center;
font-size: medium;
}

.sustainaltyics_co{
position: relative;
left: 2%;
top: 0em;
}

.sustainaltyics_co_standard{
position: relative;
left: 2%;
top: 0em;
}

.rate_grade_time{
position: relative;
top: 15px;
font-size:small;
}

.rate_card{
    position: relative;
    height: 160px;
}

